# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directories
venv/
env/
.venv/
.env/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
dist/
build/
*.spec

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS
.DS_Store

# Windows Installer files
Thumbs.db

# log files
*.log